<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	MyFlyers.com is a webbased Flyer site that allows you to view all your local flyers without having to worry about losing them, or missing them. You can also still get your coupons right here as well!
</p>