<footer class="footer">
	<small>
		<a href="http://myflyers.com">MyFlyers</a> by <a href="http://etechtour.com">eTechTour</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://myflyers.com">News</a></li>
		</ul>
	</nav>
</footer>